@import '../../utils/mixins';

.warehouseItem {
  margin-bottom: 2px;

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    margin-right: 5px;
    font-size: 10px;
    line-height: 100%;
    font-weight: 700;

    @include onTablet {
      font-size: 12px;
    }
  }

  &__description {
    font-size: 10px;
    line-height: 100%;

    @include onTablet {
      font-size: 12px;
    }
  }

  .container {
    display: flex;
  }
}
