@import '../../utils/variables';

.button {
  padding: 10px;
  font-size: 16px;
  text-decoration: none;

  &__active {
    background-color: $prymaryActiveButton;
    transform: translate(2px, 2px);
    -webkit-transform: translate(2px, 2px);
    -moz-transform: translate(2px, 2px);
    box-shadow: none;

    &:hover {
      background-color: $prymaryActiveButton;
    }
  }
}
