@import '../../utils/mixins';

.tracking {
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include onTablet {
      flex-direction: row;
      height: 300px;
      justify-content: space-between;
    }

    .wraper {
      max-width: 400px;

      @include onTablet {
        width: 400px;
      }
    }
  }
}
