@import '../../utils/mixins';
@import '../../utils/variables';

.getStatus {
  margin-bottom: 10px;

  &__form {
    display: flex;
    align-items: center;
  }

  &__input {
    margin-right: 5px;
    padding: 2px 5px;
    
    border-radius: 5px;
    border: 1px solid #9c9c98;
    outline: none;

    @include onTablet {
      padding: 5px 7px;
      font-size: 16px;
    }
  }

  &__errors {
    padding: 2px;
    color: #df1a1a;
  }

  &__button {
    padding: 2px 5px;

    @include onTablet {
      padding: 5px 7px;
    }
  }
}
