@import '../../utils/mixins';

.areaSelect {
  margin-bottom: 10px;

  &__select{
    padding: 5px;
    
    border-radius: 3px;
    border: 1px solid #9c9c98;
    outline: none;

    @include onTablet {
      font-size: 16px;
    }
  }
}
