@import '../../utils/mixins';

.areaSelect {
  margin: 0 auto;
  width: max-content;

  @include onTablet {
    margin: 0;
  }

  &__select{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #9c9c98;
    outline: none;
  }
}
