@import '../../utils/mixins';

.question {
  max-width: 400px;

  @include onTablet {
    width: 400px;
  }
  
  &__title {
    font-weight: 400;
    text-align: center;

    @include onTablet {
      text-align: start;
    }
  }

  &__image {
    height: 200px;
    background-image: url('../../images/question-mark-1019993_1280.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;

    @include onTablet {
      background-position: 0 0;
    }
  }
}
