@import './utils/mixins';

.app {
  margin: 0 auto;
  padding: 40px 10px;
  max-width: 1170px;

  @include onTablet {
    padding: 40px;
  }

  &__menu {
    margin: 0 auto 2em;
    display: flex;
    justify-content: space-around;
    max-width: 500px;

    @include onTablet {
      margin: 0 0 2em;
      justify-content: start;
      gap: 20px;
    }
  }

  &__content {
    margin: 0 auto;
    max-width: 500px;

    @include onTablet {
      margin: 0;
    }
  }
}
