@import '../../utils/mixins';

.citySelect {
  margin: 0 0 10px;

  @include onTablet {
    margin: 0 0 10px;
  }

  &__select{
    padding: 5px;
    min-width: 300px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #9c9c98;
    outline: none;

    @include onTablet {
      font-size: 16px;
    }
  }
}
